*, *::after, *::before{
    box-sizing: border-box;
}

.welcome-section {
    padding: auto 10px;
    margin-top: 50px;
}
.welcome-section h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #EBA12A;
    margin-bottom: 50px;
}

.pic-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pic-image {
    width: 20rem;
}
.flex-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: initial;
}
.heading-tertiary {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.flex-2-image {
    width: auto;
}
.first-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
    max-width: 578px;
    height: 225px;
    line-height: 45px;
}
@media (max-width: 500px){
    .first-p {
        position: relative;
        margin-bottom: 40px;
        margin: auto;
        margin-top: 10px;
        max-width: 400px;
        font-weight: 300px;
        font-size: 15px;
        bottom: 50px;
    }
    .pic-image {
        width: 25rem;
        margin-bottom: 20px;
    }
    .flex-2-image {
        width: 25rem;
    }
}
